/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    /* Colores */
    --color-outline-variant: #27272a;
    --color-on-surface: #fafafa;
    --color-error-container: #3b1111;
    --color-on-error: #1a0000;
    --color-surface-variant: #18181b;
    --color-surface-container-highest: #1e1e22;
    --color-on-primary-fixed: #2e1065;
    --color-on-background: #fafafa;
    --color-secondary-fixed: #a1a1aa;
    --color-surface-tint: #a78bfa;
    --color-tertiary-container: #065f46;
    --color-on-tertiary-fixed-variant: #047857;
    --color-on-tertiary-fixed: #003318;
    --color-tertiary-fixed: #bbf7d0;
    --color-surface: #0c0c0f;
    --color-on-primary: #0a0012;
    --color-on-secondary-fixed-variant: #3f3f46;
    --color-secondary-container: #27272a;
    --color-on-secondary-fixed: #18181b;
    --color-primary-container: #7c3aed;
    --color-surface-container: #121215;
    --color-primary: #a78bfa;
    --color-primary-dim: #c4b5fd;
    --color-inverse-on-surface: #09090b;
    --color-tertiary-dim: #6ee7b7;
    --color-secondary: #71717a;
    --color-primary-fixed: #ede9fe;
    --color-on-tertiary: #001a12;
    --color-on-secondary: #09090b;
    --color-on-error-container: #fca5a5;
    --color-surface-container-lowest: #09090b;
    --color-surface-dim: #0c0c0f;
    --color-surface-container-high: #18181b;
    --color-on-primary-fixed-variant: #5b21b6;
    --color-error: #ef4444;
    --color-surface-bright: #18181b;
    --color-background: #09090b;
    --color-on-tertiary-container: #bbf7d0;
    --color-outline: #52525b;
    --color-on-secondary-container: #a1a1aa;
    --color-tertiary: #34d399;
    --color-on-primary-container: #ede9fe;
    --color-inverse-primary: #5b21b6;
    --color-on-surface-variant: #a1a1aa;
    --color-surface-container-low: #0f0f12;
    --color-secondary-dim: #71717a;
    --color-inverse-surface: #fafafa;

    /* Border Radius */
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;

    /* Fonts */
    --font-headline: "Geist", "sans-serif";
    --font-body: "Geist", "sans-serif";
    --font-label: "Geist", "sans-serif";
}

@layer base {
  :root {
    /* Aseguramos que el esquema de color sea oscuro para scrollbars y sistema */
    color-scheme: dark;
  }

  html, body {
    @apply bg-background text-on-background;
    font-family: var(--font-body);
    margin: 0;
    height: 100%;
  }
}